body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  font-size: 1 rem;
  color: #ffffff;
}

h1 {
  background: #ffffff;
  justify-content: left;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
  font-size: 200%;
  font-weight: 900;
  font-family: "Zilla Slab Highlight", cursive;
  width: 100%;
  padding: 2%;
  color: rgba(197, 147, 53);
  z-index: 1;
  box-shadow: 0px 10px 13px -7px #000000,
    -1px 13px 11px 12px rgba(0, 0, 0, 0.41);
}

h2,
h3,
h4,
p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 800;
}

label {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(16, 173, 194, 0.7);
  font-weight: 800;
  width: 30%;
}

.card-body {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(13, 134, 150);
  background-color: rgba(197, 147, 53, 0.788);
  box-shadow: 0px 10px 13px -7px #000000,
    -1px 13px 11px 12px rgba(0, 0, 0, 0.41);
  border: solid 1px rgba(94, 48, 48, 0.473);
  transition: 200ms ease-in-out;
  margin: 2%;
}

.card-body:hover {
  background-color: rgba(197, 147, 53);
}

.checkWeather {
  background-color: rgba(16, 173, 194);
  color: rgba(163, 119, 38);
  display: block;
  margin: 0 auto;
  font-weight: 800;
  box-shadow: 0px 10px 13px -7px #000000,
    -1px 13px 11px 12px rgba(0, 0, 0, 0.41);
}

.currentTemp {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: rgba(197, 147, 53, 0.3);
  box-shadow: 0px 10px 13px -7px #864d0cc2,
    -1px 13px 11px 12px rgba(0, 0, 0, 0.41);
  border: solid 2px rgba(94, 48, 48, 0.473);
}

.currentIcon {
  color: rgba(197, 147, 53, 0.9);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
  font-size: 350%;
  background-color: rgba(16, 173, 194, 0.5);
  width: 15%;
}

.forecastCard {
  display: block;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  margin-bottom: 2%;
  width: 79%;
  background-color: rgba(197, 147, 53, 0.3);
}

.forecast {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.card-img-top {
  width: 40%;
  padding: 3%;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  height: vh100;
  z-index: -1;
}
#todayAgain {
  display: flex;

  justify-content: center;
  width: 100%;
}

#temperaturesOfTheWeek {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
}

#mainheader {
  position: absolute;
  display: block;
  top: 3%;
  left: 4%;
  width: 30%;
  opacity: 1;
  z-index: 1;
}

#celsiusWeatherButton, #currentLocationButton {
  background-color: rgba(16, 173, 194);
  color: rgba(163, 119, 38);
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
  font-weight: 800;
  box-shadow: 0px 10px 13px -7px #000000,
    -1px 13px 11px 12px rgba(0, 0, 0, 0.41);
}

#celsiusWeatherButton:hover, #currentLocationButton:hover {
  color: rgb(51, 37, 12);

}

#repositoryLink {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 1.5%;
border-radius: 50px 50px 50px 50px / 40px 40px 40px 40px;
}

#currentConditions, #humidity, #windSpeed {
  display: inline-block;
  margin: 1%;
  justify-content: justify;
  width: 100%;
}